/*main DOM elements*/
body{
  font-family:'Lato', sans-serif;
}
h1{
  text-align: center;
}


/*floatlabel fixes*/
/*.js-float-label-wrapper.focused input,
.js-float-label-wrapper.populated input,
.js-float-label-wrapper.focused textarea,
.js-float-label-wrapper.populated textarea{
  font-size:1.5em;
  padding-top:2.2em;

}

.js-float-label-wrapper input{
  font-size:30px;
  padding:1em;
}

.js-float-label-wrapper{
  margin-bottom:1.5em;
}*/
#state_mo{
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0;
  font-size: 26px;
  width: 100%;
  border-radius: unset;
}
.dollar-label{
  border: none;
    padding: 0;
    background: none;
}


/* sidebar */
.sidebar-wrapper{
  position:absolute;
  display:inline-block;
  right:0;
  }

.sidebar-inner-desktop{
  position:fixed;
}

.table-num{
  text-align:right;
}
.sidebar-inner-mobile{
  display:none;
}

/*rangeslider*/
/*https://codepen.io/khadkamhn/pen/qbPQrv*/

.rangeslider,
.rangeslider__fill {
	display:block;
	border-radius:10px;
  box-shadow:none;
}

.rangeslider {
	position:relative;
  background:none;
}
.rangeslider:after{
	top:50%;
	left:0;
	right:0;
	content:'';
	width:100%;
	height:5px;
	margin-top:-2.5px;
	border-radius:5px;
	position:absolute;
	background:#212131;
}

.rangeslider--horizontal{
	width:100%;
	height:28px;
}

.rangeslider--vertical{
	width:5px;
	min-height:150px;
	max-height:100%;
}
.rangeslider--disabled{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity:0.4;
}

.rangeslider__fill{
	position:absolute;
	background:#ff637b;
}
.rangeslider--horizontal .rangeslider__fill{
	top:0;
	height:100%;
}
.rangeslider--vertical .rangeslider__fill{
	bottom:0;
	width:100%;
}

.rangeslider__handle{
	top:50%;
	width:28px;
	height:28px;
	cursor:pointer;
	margin-top:-14px;
	background:white;
	position:absolute;
	background:#ff637b;
	border-radius:50%;
	display:inline-block;
  box-shadow:none;
  border:none;
}
.rangeslider__handle:active{
	background:#ff5a7b;
}

.rangeslider__fill,
.rangeslider__handle{
	z-index:1;
}
.rangeslider--horizontal .rangeslider__fill{
	top:50%;
	height:5px;
	margin-top:-2.5px;
}


/*media queries*/

@media (max-width:998px){
  .sidebar-wrapper{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: green;
    height: 40px;
    max-width:none;
  }
  .sidebar-inner-desktop{
    display:none;
  }
  .sidebar-inner-mobile{
    display:inline-block;
  }

}

@media (max-width:760px){
  .container{
    padding:0;
    width:100vw;
  }
}
