/*main DOM elements*/
body{
  font-family:'Lato', sans-serif;
}
h1{
  text-align: center;
}


/*floatlabel fixes*/
.js-float-label-wrapper.focused input,
.js-float-label-wrapper.populated input,
.js-float-label-wrapper.focused textarea,
.js-float-label-wrapper.populated textarea{
  font-size:1.5em;
  padding-top:2.2em;

}

.js-float-label-wrapper input{
  font-size:30px;
  padding:1em;
}

.js-float-label-wrapper{
  margin-bottom:1.5em;
}

/* sidebar */
.sidebar-wrapper{
  position:absolute;
  display:inline-block;
  right:0;
  }

.sidebar-inner-desktop{
  position:fixed;
}

.table-num{
  text-align:right;
}
.sidebar-inner-mobile{
  display:none;
}

/*media queries*/

@media (max-width:998px){
  .sidebar-wrapper{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: green;
    height: 40px;
    max-width:none;
  }
  .sidebar-inner-desktop{
    display:none;
  }
  .sidebar-inner-mobile{
    display:inline-block;
  }

}

@media (max-width:760px){
  .container{
    padding:0;
    width:100vw;
  }
}
